@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Coaches";
}

<div class="fluid-container">
    <div class="row">
        <div class=>
            <h4>Coaches Details</h4>
        </div>
    </div>
</div>