@model Gym_Mgt_System.Models.Login

@{
    ViewData["Title"] = "Portal Access";
}
@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="form-container">
    <button class="sign-in-button" id="signInBtn">Sign In</button>

    <div class="login-container" id="loginContainer">
        <form asp-asp-controller="Account" asp-action="Login">
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" autocomplete="off" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById("signInBtn").addEventListener("click", function () {
            var button = this;
            var container = document.getElementById("loginContainer");
            button.style.display = "none";
            container.style.display = "flex";
            container.style.animation = "expand 0.5s ease-in-out forwards";
        });
    </script>
}
